<h3>Courses</h3>
<table class="table table-sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th>Instructor</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.university %></td>
    <td><%= course.instructor %></td>
    <td><%= start_date(course.start_date.last) %></td>
  </tr>
<% end %>
  </tbody>
</table>
